<div>
    <a href="#" class="btn btn-dark btn-lg btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<footer class="mt-auto">
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, City, Country</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 6789</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="{% url 'home' %}">Home</a>
                    <a class="btn btn-link" href="{% url 'about' %}">About</a>
                    <a class="btn btn-link" href="{% url 'rooms' %}">Rooms</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Newsletter</h5>
                    <p>Subscribe to our newsletter to get the latest updates and offers.</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                            <button class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Opening Hours</h5>
                    <p><i class="fa fa-clock me-3"></i>Mon - Fri: 8:00 AM - 8:00 PM</p>
                    <p><i class="fa fa-clock me-3"></i>Sat - Sun: 10:00 AM - 6:00 PM</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    
</footer>
