{% extends "hotel/base.html" %}
{% block title %}Mission{% endblock %}
{% block content %}
<div class="container">
    <h2>Mission</h2>
    <p>Our mission is to provide an extraordinary hospitality experience by combining world-class amenities with personalized service that anticipates the needs of every guest. We are dedicated to creating a welcoming and comfortable environment where guests can relax, rejuvenate, and enjoy the finer things in life. Our team is committed to going above and beyond to ensure that every detail of your stay is perfect, from the moment you check in to the time you leave. We strive to create memorable moments that reflect the essence of our brand – warmth, elegance, and unmatched service.</p>
    </div>
{% endblock %}