{% extends "hotel/base.html" %}
{% block title %}Vision{% endblock %}
{% block content %}
    <div class = "container">
        <h2>Vision</h2>
        <p>Our vision is to become the preferred destination for travelers seeking a perfect blend of luxury, comfort, and cultural richness. We aspire to set a new standard in the hospitality industry, where each guest is treated not just as a visitor, but as a part of our extended family. By continuously innovating and enhancing our offerings, we aim to create an unparalleled experience that leaves a lasting impression on every guest. Our goal is to be recognized globally for our commitment to excellence, sustainability, and community involvement, making us not only a place to stay but a destination in itself.</p>
    </div>


{% endblock %}